input[type="text"],input[type="password"],input[type~="text"],input[type~="password"],input[type="email"],input[type="phone"],input[type~="email"],input[type~="phone"], input[type="date"], input#file-upload-button[type="file"],select,input[name="name"] {
    border: 1px solid #333;
    background: #333;
    color: #eaeaea;
}
.header_search_input {
    border: 1px solid #202020;
    background: #333 url('/assets/packages/static/openvk/img/search_icon.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
	color: #eaeaea;
}
.header_search_inputbt {border-top: 1px solid #404040;}
.postFeedWrapper {
    background-color: #222222;
    border-bottom: 1px solid #313131;
    color: #cacaca;
    border-top: #313131 solid 1px;
}
.menu_divider {background: #353535;}
.accent-box {
    background-color: #333333;
    border: 1px solid #222222;
}
input[type~="search"][name~="query"] {
    background: url(/assets/packages/static/openvk/img/search_icon.png) no-repeat 3px 4px !important;
    height: 24px !important;
    background-color: #424242 !important;
    background-position-y: 5px !important;
    background-position-x: 6px !important;
    padding-left: 24px !important;
}
input[type~="search"][name~="query"]:hover {
    background: url(/assets/packages/static/openvk/img/search_icon.png) no-repeat 3px 4px !important;
    height: 24px !important;
    background-color:#404040 !important;
    background-position-y: 5px !important;
    background-position-x: 6px !important;
    padding-left: 24px !important;
}
.ovk-video > .preview {
	height: auto;
	border: 0px;
}
.notes_titles small {color: #b1b1b1;}
.commentsTextFieldWrap {
    background-color: #222 !important;
    border: 1px solid #222 !important;
}
.expand_button {background-color: #222;}
.expand_button:hover {background-color: #333333;}
.post-share-button:hover, .post-like-button:hover {background-color: rgb(25 25 25)}
.post-divider {border-bottom: 1px #353535 solid;}
.comment {border-top: 1px #353535 solid;}
.messagebox-content-header {background: #191919;}
.messenger-app {
    border-right: 1px solid #191919;
    border-left: 1px solid #191919;
    border-bottom: 1px solid #242424;
}
.gift_sel:hover {background-color: #444444;}
.topic-list-item {border-bottom: #353535 solid 1px;}
#tracy-debug{display: none !important;}
.page_content>.text{border-bottom: #353535 solid 1px !important;}
.knowledgeBaseArticle {margin-top: 0px;}
.content_list .cl_element .cl_name .cl_lname {display: none;}
.left_small_block>br{display: none;}
.profile-hints a {margin-bottom: 15px;}
.completeness-gauge-gold {border-top: 0px solid #b9b597;}
/*.profile_link, #profile_link {
    padding: 7px 16px 8px;
    margin-bottom: 10px;
    text-align: center;
    background: 0;
    background-color: #424242;
    color: #fff;
    border-radius: 4px;
}*/
.album-photo img {
    max-height: 120px !important;
    border: 0px;
    background-color: #222;
}
.album-photo {
    background-color: #222;
    height: auto;
}
/*.small-textarea{min-height: auto;}*/
#basicInfo {padding: 5px 0px 5px 8px;}
.navigation-lang .link_new { border-top: 0px; color: #eaeaea;}
.navigation-lang .link_new:hover {background-color: #353535; border-top: 0px;}
input[type=checkbox] {background-image: url(https://github.com/thejenja/ovkdarkfix/blob/main/res/checkbox.gif?raw=true);}
input[type=radio] {background-image: url(https://github.com/thejenja/ovkdarkfix/blob/main/res/radio.png?raw=true);}
.note_header {
    background: #222222;
    border-bottom: solid 1px #353535;
    border-top: solid 1px #353535;
}
.note_footer {border-top: 1px solid #353535;}
div[style="margin: 6px 10px 10px;border-top: 1px solid #ddd;"]{border-top: 1px solid #353535 !important;}
#wallAttachmentMenu {border: 1px solid #353535;}
.groups_options {border-top: #353535 solid 1px;}
.summaryBar .summary {color: #eaeaea;}
.container_gray > center, .page_content > center{
    background: #222222 !important;
    border: #222222 solid 1px !important;
}
.container_gray > center > span, .page_content > center > span{color: #eaeaea !important;}
.action_links > .profile_link, .action_links > .profile_link_form > .profile_link {
    text-transform: none;
}
#userContent blockquote {
    background-color: #222222;
    border-bottom: 5px solid #353535;
}
.mb_tabs {
    background-color: #222222;
    border-bottom: #222222 solid 1px;
}
.summaryBar {
    border-bottom: #353535 solid 1px;
}
.ovk-video>.preview, .video-preview {
    box-shadow: none;
}
body {
    background: #191919 url(https://github.com/thejenja/ovkdarkfix/blob/main/res/1.png?raw=true) repeat-x;
}
.container_gray{
    background: #222222 !important;
}
.tabs {
    width: 610px;
}
.post-upload {
    margin-top: 11px;
    margin-left: 3px;
    color: #bbb;
    display: none;
}
#profile_link, .profile_link {
    width: 194px;
}
.post-author img.name-checkmark {content: url(https://github.com/thejenja/ovkdarkfix/blob/main/res/4.png?raw=true);}
img.name-checkmark {content: url(https://github.com/thejenja/ovkdarkfix/blob/main/res/3.png?raw=true);}